#works.page
	ul.thumb_list
		each item,i in data
				if i % 4 == 0
					li.last
						a(href="/works/#{item.id}")
							.project_thumb
								.thumb_over
									.bg
									p #{item.name}
								img(src="#{item.thumbnail}", alt="#{item.name}", class="thumb_img")
				else
					li
						a(href="/works/#{item.id}")
							.project_thumb
								.thumb_over
									.bg
									p #{item.name}
								img(src="#{item.thumbnail}", alt="#{item.name}", class="thumb_img")