.works_inner

	h3 #{data.name}

	.head
		span.line
		a(href="/works", class="back") Back

		- if (data.url)
			a(href="#{data.url}", target="_blank", class="bt_launch") Launch Project

	.clear

	.works_gallery

		nav
			ul
				li(id="0") 01
				li(id="1") 02
				li(id="2") 03

		.clear

		.slide

			.left_arrow.arrow
				img(src="/images/left-arrow.png")

			.images
				ul.gallery
					li


			.right_arrow.arrow
				img(src="/images/right-arrow.png")

	.text

		span.line

		.description
			p #{data.description}

		.clear

	.text

		span.line

		.credits
			p.title Credits:

			- for (var i in data.credits)

				.block
					p 
						strong #{data.credits[i].name}

					p #{data.credits[i].value}

		.clear